{% extends 'listings/base.html' %}

{% block content %}

<h2>{{ listing.title }}</h2>

    <ul>
        <li>Description : {{ listing.description }}</li>
        <li>Année : {{ listing.year }}</li>
        <li>Vendu : {{ listing.sold|yesno }}</li>
        <li>Type : {{ listing.get_type_display }}</li>
    </ul>

    <a href="{% url 'listing-update' listing.id %}">[Mettre à jour cette annonce]</a>
    <a href="{% url 'listing-delete' listing.id %}">[Supprimer cette annonce]</a>
    <a href="{% url 'listing-list' %}">[Retourner à la liste des annonces]</a>

{% endblock %}